body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(248, 243, 236);
}
.main {
  margin-top: 130px;
}

.single-product {
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.single-product:hover {
  box-shadow: 1px 1px 20px gray;
}

.card-bg {
  background-color: rgb(250, 237, 220);
}
.card-footer-bg {
  background-color: rgb(238, 225, 207);
}

.product-image {
  width: 100%;
  height: 30vh;
}

.rating-bg {
  color: rgb(255, 123, 0);
}

.cart {
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: 0.3s;
  position: fixed;
}

.cart:hover {
  box-shadow: 1px 1px 20px gray;
}